# streamlit
# langchain
# langchain-community
# langchain-huggingface
# faiss-cpu
# sentence-transformers
# pymupdf
# requests
# pypdf
# torch
# torchvision

streamlit
langchain
langchain-community
faiss-cpu
pymupdf
pypdf
requests
sentence-transformers