streamlit==1.57.0
langchain==1.2.15
langchain-community==0.4.1
langchain-huggingface==1.2.2

faiss-cpu==1.13.2
pymupdf
pypdf
requests
pandas

numpy==1.26.4
torch==2.2.2
transformers==4.41.2
sentence-transformers==2.7.0
huggingface_hub==0.23.0